body {
    background-image: url('../img/background.jpeg');
    /* Ruta de tu imagen de fondo */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}


.caja-info {
    min-width: 400px;
    /* Ancho mínimo del div */
    padding: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    /* Sombrero del borde */
    border-radius: 10px;
    margin: 20px auto;
    /* Centrar el div horizontalmente */
    background-color: rgba(255, 255, 255, 0.8);
    /* Fondo con transparencia */
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    /* Sombra mínima */
}